@import '../../node_modules/bulma/bulma.sass';

.react-root {
    padding-top: 20px;
}

.highlight-wrapper > pre {
    background-color: transparent;
    padding: 0;
    padding-bottom: 20px;
}

.breadcrumb {
    padding-bottom: 20px;
}

.is-fullwidth {
    width: 100% !important;
}

.pointer-details {
    padding-top: 15px;
}