$green: #a6e22e;
$white-text: #ddd;
$grey-text: #75715e;
$dark: #272822;
$red: #f92672;

$gap: 5px;

$navbar-height: 5rem;

@import '../../node_modules/bulma/bulma.sass';

$break-mobile: 768px;
$break-tablet: 1023px;
$break-desktop: 1216px;
$break-widescreen: 1408px;

html {
  @media screen and (prefers-color-scheme: dark) {
    background-color: $black;
  }
}

.Site {
  display: flex;
  min-height: calc(100vh - 80px);
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

input {
  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($dark, 6%) !important;
    border-color: Transparent !important;
    color: $white !important;
  }
}

p {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text;
  }
}

a {
  @media screen and (prefers-color-scheme: dark) {
    color: $green;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text !important;
  }
}

.button.is-black {
  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($black, 5%) !important;
  }
}

nav.breadcrumb ul li > a {
  @media screen and (prefers-color-scheme: dark) {
    color: $green;
  }
}

nav.breadcrumb ul li > a:hover {
  @media screen and (prefers-color-scheme: dark) {
    color: $grey-text;
  }
}

nav.breadcrumb ul li.is-active > a {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text;
  }
}

a:hover {
  @media screen and (prefers-color-scheme: dark) {
    color: $grey-text;
  }
}

::placeholder {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text !important;
  }
}

.table {
  @media screen and (prefers-color-scheme: dark) {
    background-color: Transparent;
  }
}

.table th {
  @media screen and (prefers-color-scheme: dark) {
    border: 1px solid $grey-text;
    color: $white-text !important;
  }
}

.table td {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text;
  }
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($black, 3%);
  }
}

.table tr {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text !important;
  }
}

.table tr:hover {
  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($black, 5%) !important;
  }
}

.tx-hash-column,
.block-hash-column {
  @media screen and (max-width: $break-desktop) {
    display: none;
  }
}

.pointer-hex-column {
  @media screen and (max-width: $break-tablet) {
    display: none;
  }
}

.pointer-timestamp-column {
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.navbar-menu {
  @media screen and (prefers-color-scheme: dark) {
    background-color: $black;
  }
}

.navbar-item {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text;
  }
}

.navbar-item:hover {
  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($black, 3%) !important;
    color: #fff !important;
  }
}

.footer {
  margin-top: 10px;
  background-color: Transparent !important;
}

.searchbar {
  padding-bottom: 10px;
}

.translucent {
  opacity: 0.8;
}

.pointer-text-piece {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
}

.highlight-wrapper > pre {
  background-color: transparent;
  padding: 0;
  padding-bottom: 10px;
}

.breadcrumb {
  padding-bottom: 10px;
}

.is-fullwidth {
  width: 100% !important;
}

.pointer-details {
  padding-top: 10px;
}

.table-wrapper {
  max-width: 100vw;
}

.frame {
  @media screen and (max-width: 968px) {
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 20px;
  }
}

.frame:first-of-type {
  padding-top: 20px;
}

.brand-link {
  @media screen and (prefers-color-scheme: dark) {
    color: $red !important;
  }
}

.brand-link:hover {
  @media screen and (prefers-color-scheme: dark) {
    color: $white-text !important;
  }
}
