@import '../../node_modules/bulma/bulma.sass';


$break-mobile: 768px;
$break-tablet: 1024px;
$break-desktop: 1216px;
$break-widescreen: 1216px;
$break-fullhd: 1408px;

.hex-column {
    @media screen and (max-width: $break-tablet) {
        display: none;
      }
}

.timestamp-column {
    @media screen and (max-width: $break-mobile) {
        display: none;
      }
}

.translucent {
    opacity: 0.8;
}

.react-root {
    padding-top: 20px;
}

.pointer-text-piece {
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

.highlight-wrapper > pre {
    background-color: transparent;
    padding: 0;
    padding-bottom: 20px;
}

.breadcrumb {
    padding-bottom: 20px;
}

.is-fullwidth {
    width: 100% !important;
}

.pointer-details {
    padding-top: 15px;
}

.table-wrapper {
    max-width: 100vw;
}